body {
    background-color: #0d0f81;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(8, 20, 50) rgb(15, 35, 90));
    font-family: Arial, sans-serif ;
    
    /* O caminho deve apontar para onde você salvou a imagem */
    background-image: url('imagens/Gemini_Generated_Image_5cpyc45cpyc45cpy.png');
    
    /* Faz a imagem cobrir a tela inteira sem sobrar espaços */
    background-size: cover;
    
    /* Mantém o fundo fixo enquanto você rola a página */
    background-attachment: fixed;
    
    /* Centraliza a imagem */
    background-position: center;
    
    /* Evita que a imagem se repita caso a tela seja muito grande */
    background-repeat: no-repeat;
    
    /* Define uma cor de fundo caso a imagem demore a carregar */
    background-color: #0f3d3e; 

}

h1{
    color: #0d0f81;
    font-size: 50px;
    text-align: center;
    border: 1px solid #d8d9e0;
    background-color: #4b64e0;
    border-radius: 20px;
    margin: 20px;
    padding: 5px 5px;

}

label{
    display: block;
    margin-top: 300px;
    font-weight: bold;
}


button{
    display: block;
    margin-top: 10px;
}

form{
    width: 10px;
    margin-top: auto;
}


.form-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
     padding: 50px;
    max-width: 900px;
    margin: 250px auto; 
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(125, 171, 204, 0.35);
    background-color: rgb(11, 30, 68);

}

.form-card{
    background-color: rgb(33, 71, 146);
    padding: 30px;
    width: 320px;
    border-radius: 14px;
    box-shadow: 0 0 25px rgba(125, 171, 204, 0.35);

}


.form-card label,input,button{
    display: block;
    width: 100%;
    margin-top: 10px;
}


.form-card input{
    padding: 8px;
    border-radius: 6px;
    border: none;
    background-color: rgb(240, 248, 255);

}

.form-card button{
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(0, 150, 255);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.form-card button:hover{
    background-color: rgb(0, 120, 220);
}


.form-card h3{

    text-align: center;
    color: rgb(120, 200, 255);
    margin-bottom: 20px;

}


.form-card label {
    color: rgb(200, 230, 255);
    font-size: 14px;
    margin-top: 10px;
}

.foote{
    text-align: center;
    color: rgb(200, 230, 255);
}

.conta{
    
    color: rgb(200, 230, 255);
}

.cadastro{
     
    color: rgb(200, 230, 255);
}


